/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*fjdlsjlf*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes:  none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	height: 100%;
	width: 100%;
}

div{
	box-sizing: border-box;
	display: block;
	height: 200px;
	width: auto;
}
h1{
	float:left;
	font-size: 60px;
	height: auto;
	width: auto;
	text-align: center;
	display: inline-block;
	padding-top: 80px;
}
.wrapper{
	margin: 0 auto;
	max-width: 1080px;
	height: 100%

}

.header{
	height:auto;
	width: auto;
}

nav,ul,a,li{
	display: inline-flex;
	text-align: center;
	box-sizing: border-box;

}

.top{
	padding-bottom: 100px;
	height: 500px;
	width:auto;
	text-align: center;
}
.top .combo{
display: inline-block;
height:50%;
width: 360px;
margin-right: 0;
}

.top .circlecode{
	float: right;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 100px;
}

body .bottom{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height:650px;
	width:auto;
}


.logo{
	image-resolution: 25%;
	height: 70px;
	padding-left: 145px;
	padding-top: -10px;
	padding-bottom: 10px;
}
.topnav {
 margin-left: 0px;
 float: right;
 overflow: hidden;
 background-color: white;
 position: fixed;
 top: 0;
 width:60%;
}

.topnav a{
	display: flex;
	margin-left: 20px
	float: center;
  display: block;
  color: black;
  text-align: center;
	padding-top: 20px;
  padding-left: 31px;
	padding-right: 31px;
  text-decoration: none;
}

.topnav ul{
	list-style: none;
	margin-left: 0 2px
	display:flex;
	justify-content: space-around;
}

.topnav a:hover{
  background: #ddd;
  color: black;
}

.pressme button{
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border:  1px solid black;
	height: auto;
	width: auto;
	float: left;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
	margin-right: 40px;
	margin-top: 50px;
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.pressme button:after{

}
.pressme button a{
	text-decoration: none;
}

.pressme button:hover{
	background-color: lightgrey;
	opacity: 1;
}

.topbottom{
	height:150px;
}

.features{
	display: inline-block;
	float: left;
	width: 50%;
	height: 50%;
	margin-top: 30px;
}
.about{
	display: inline-block;
	float: right;
	width: 50%;
	height: 50%;
	margin-top: 30px;
}

.services{
	padding: 20px;
	display: inline-block;
	float: left;
	width:33%

}

.middle-img{
	width:100%;
	padding: 20;
	margin-top: 15px;
}
.product{
	padding: 20px;
	display: inline-block;
	width:33%;
}

.vision{
	padding: 20px;
	display: inline-block;
	float: right;
	width: 33%;
}

.footer{
	text-align: left;
	display: inline-block;
	float: left;
	width: 25%;
	margin-right: 100%
}

.Copyright{
	display: inline-block;
	text-align: center;
	margin-left: 50%;
	margin-top: 5%;
	font-size: 12px;
}
